<main class="container py-5 mt-5">
  <%= render 'shared/logo' %>
  <div class="row justify-content-center align-items-center">
        <div class="bg-primary text-white container col-xxl-10 p-5 border shadow-lg nice-round">
          <div>
            <h1 class="fw-bold text-center m-0 bigger">Lifetime deal</h1>
            <h2 class="fw-semibold text-center mb-5">Pay once, NewsJack forever.</h2>
            <p class="text-white text-center m-0 px-3">Imaging raising brand-awareness for just 39€ one-time payment.</p>
            <p class="text-white-50 text-center m-0 pb-2 px-3 mb-3 fs-6 fw-normal">Launch date is set as the <strong>30th of November, 2023</strong>.<br>If we do not release it on this day, your money will be refunded.</p>
            <div class="container col-xxl-8 text-center">
              <%= render 'shared/buy' %>
            </div>
          </div>
        </div>
  </div>
</main>




  <div class="row flex-lg-row-reverse align-items-center justify-content-center p-3 mt-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "1.png", alt: "Set up", class: "d-block mx-lg-auto img-fluid", width:"700", height:"500", loading:"lazy" %>
    </div>
    <div class="col-lg-6 text-center">
      <h2 class="fw-semibold text-center">Set up</h2>
      <p class="lead">Define the essence of your brand and your goals.</p>
    </div>
  </div>
  <div class="row flex-lg-row align-items-center justify-content-center p-3 mt-5">
    <div class="col-10 col-sm-8 col-lg-6">
    <%= image_tag "2.png", alt: "Trends", class: "d-block mx-lg-auto img-fluid", width:"700", height:"500", loading:"lazy" %>
    </div>
    <div class="col-lg-6 text-center">
      <h2 class="fw-semibold text-center">We identify opportunities</h2>
      <p class="lead px-5">Get trends complementing your brand story.</p>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center justify-content-center p-3 mt-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "3.png", alt: "Generate", class: "d-block mx-lg-auto img-fluid", width:"700", height:"500", loading:"lazy" %>
    </div>
    <div class="col-lg-6 text-center">
      <h2 class="fw-semibold text-center">We generate unique content.</h2>
      <p class="lead">Generate and edit <br>engaging social media content <br>in seconds.</p>
    </div>
  </div>
  <div class="row flex-lg-row align-items-center justify-content-center p-3 mt-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "4.png", alt: "Publish", class: "d-block mx-lg-auto img-fluid", width:"700", height:"500", loading:"lazy" %>
    </div>
    <div class="col-lg-6 text-center">
      <h2 class="fw-semibold text-center">Publish</h2>
      <p class="lead px-5 muted">Share it and watch the traffic increase.</p>
    </div>
  </div>
  <div class="row flex-lg-row-reverse align-items-center justify-content-center p-3 mt-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <%= image_tag "5.png", alt: "Engage", class: "d-block mx-lg-auto img-fluid", width:"700", height:"500", loading:"lazy" %>
    </div>
    <div class="col-lg-6 text-center">
      <h2 class="fw-semibold text-center">Engage</h2>
      <p class="lead">Respond to comments, answer questions, and encourage discussions.</p>
    </div>
  </div>
  <div class="container col-xxl-8 text-center">
    <%= render 'shared/sign_button_white' %>
  </div>
