<div class="gradient-background page">
  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %> alert alert-dismissible fade show" role="alert">
      <span><strong><%= flash_icon(type) %></strong> <%= message %></span>
      <a data-bs-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
    </div>
  <% end %>
  <div class="content pb-5">
    <h1 class="text-white mb-5 mx-5 fw-medium">Get viral by newsjacking</h1>
    <form action="/waiting_users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="email" name="waiting_user[email]" placeholder="Your email" class="form-control">
      <input type="string" name="waiting_user[firstname]" placeholder="Your name" class="form-control">
      <input type="text" name="waiting_user[company_name]" placeholder="Your company" class="form-control">
      <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-primary badge">Join waitlist</button>
      </div>
    </form>
  </div>
  <div class="secondary">
    <h4 class="mb-2 mx-5 fw-medium fs-5 text-white-50">Follow us on</h4>
  </div>
  <a href="https://www.linkedin.com/company/newsjack" target="_blank" class="custom-link">
    <%= image_tag "linkedin.png", alt: "Image Description" %>
  </a>
  <a href="https://twitter.com/mikececconello" target="_blank" class="custom-link">
    <%= image_tag "twitter.png", alt: "Image Description" %>
  </a>


</div>
