<!-- app/views/home/index.html.erb -->
<% content_for :title, "Go Viral Effortlessly with NewsJack" %>
<% content_for :meta_description, "Ride the Wave of What's Hot: Elevate Your Brand's Awareness with Strategic Newsjacking" %>

<div class="gradient-background page">
  <% flash.each do |type, message| %>
    <div class="flash flash-<%= type %> alert alert-dismissible fade show" role="alert">
      <span><strong><%= flash_icon(type) %></strong> <%= message %></span>
      <a data-bs-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
    </div>
  <% end %>

  <div class=" content">
    <h1 class="text-white mx-5 fw-medium text-center"><strong> Go Viral Effortlessly </strong></h1>
    <p class="text-white mb-5 mx-5 px-0 px-md-5 fw-medium text-center">Ride the Wave of What's Hot: Elevate Your Brand's Awareness with Strategic Newsjacking</p>
    <form action="/waiting_users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="email" name="waiting_user[email]" placeholder="Your email" class="form-control">
      <input type="string" name="waiting_user[firstname]" placeholder="Your name" class="form-control">
      <input type="text" name="waiting_user[company_name]" placeholder="Your company" class="form-control">
      <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn badge transparent-background">Request an invite</button>
      </div>
    </form>
  </div>

  <div class="secondary d-none d-md-block">
    <h4 class="mb-2 mx-5 fw-medium fs-5 text-white-50">Follow us on</h4>
  </div>

  <div class="d-flex justify-content-center socials">
    <div class="row">
      <div class="col-6"> <!-- Adjust column width as needed -->
        <a href="https://www.linkedin.com/company/newsjack" target="_blank" class="custom-link">
          <%= image_tag "linkedin.png", alt: "LinkedIn", class: "img-fluid lighter-opacity" %>
        </a>
      </div>
      <div class="col-6"> <!-- Adjust column width as needed -->
        <a href="https://twitter.com/newsjackdotme" target="_blank" class="custom-link">
          <%= image_tag "twitter.png", alt: "Twitter", class: "img-fluid lighter-opacity" %>
        </a>
      </div>
    </div>
  </div>

</div>
