<header class="container py-5 mt-5">
  <div class="row">
    <div class="col-12">
      <%= render 'shared/back' %>
    </div>
  </div>
</header>
<main class="container py-5 mt-5" style="min-height: 100vh;">
  <div class="container py-5 mt-5 px-3">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 fw-normal">Trends in [country] for your company <br>to NewsJack</h1>
          <%# <h1 class="h3 mb-3 fw-normal"><%= @title for your company <br>to NewsJack</h1> %>
          <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group list-group-checkable d-grid gap-2 border-0">
              <% @new_hash.first(3).each do |index, news_item| %>
                <a href="<%= news_item[:url] %>" style="cursor: pointer !important;">
                  <label class="list-group-item rounded-3 py-3">
                    <%= news_item[:translated] == (false || nil) ? news_item[:news] : news_item[:translated] %>
                  </label>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 fw-normal">Twitter trending</h1>
          <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group list-group-checkable d-grid gap-2 border-0">
              <% @twitter_trends.each do |trend| %>
                  <label class="list-group-item rounded-3 py-3">
                    <%= "#{trend[0]} - #{trend[1]} tweets today" %>
                  </label>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%# <div data-controller="download"> %>
  <%# <img data-download-target="url" src="<%= @image" width="1000px" height="1000px" download> %>
  <%# <button data-action="click->download#download">Download image</button> %>
<%# </div> %>

<%# <a href="<%= @image" download>Download image</a> %>

<%# <%= @image %>
