<body class="g-sidenav-show bg-gray-100">
  <%= render 'sidebar' %>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <%= render 'navbar' %>
    <turbo-frame id="box_1" data-turbo-action="advance">
      <div class="container-fluid py-4">
        <div class="row my-4">
          <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            <div class="card">
              <div class="pb-0 p-3 mb-4">
                <div class="pb-0 p-3 mb-4">
                  <div class="row">
                    <div>
                    <h6>Select trend</h6>
                      <div class="table-responsive scrollarea">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Select</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trends</th>
                              <%# <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Platform</th> %>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stats</th>
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hype</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% translated_news_array = [] %>
                            <% @new_hash.first(10).each do |index, news_item| %>
                              <% translated_news = news_item[:translated] == (false || nil) ? news_item[:news] : news_item[:translated] %>
                              <% translated_news_array << translated_news if translated_news.present? %>
                              <tr>
                                <td>
                                  <button class="select-trend btn btn-sm mb-0 px-3 py-2 w-full rounded-4 border" data-trend="<%= translated_news %>">Select</button>
                                </td>
                                <td>
                                  <div class="d-flex px-2 py-1">
                                    <div class="d-flex flex-column justify-content-center">
                                      <h6 class="mb-0 text-sm"><%= truncate(translated_news, length: 20) %></h6>
                                    </div>
                                  </div>
                                </td>
                                <%# <td>
                                  <div class="avatar-group mt-2">
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                                      <img src="../assets/img/team-1.jpg" alt="team1">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid">
                                      <img src="../assets/img/team-2.jpg" alt="team2">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith">
                                      <img src="../assets/img/team-3.jpg" alt="team3">
                                    </a>
                                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe">
                                      <img src="../assets/img/team-4.jpg" alt="team4">
                                    </a>
                                  </div>
                                </td> %>
                                <td class="align-middle text-center text-sm">
                                  <span class="text-xs font-weight-bold"><%= truncate(news_item[:url], length: 20) %></span>
                                </td>
                                <td class="align-middle">
                                  <div class="progress-wrapper w-75 mx-auto">
                                    <div class="progress-info">
                                      <div class="progress-percentage">
                                        <span class="text-xs font-weight-bold"><%= truncate(translated_news, length: 10) %></span>
                                      </div>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            <% end %>
                            <% @twitter_trends.each do |trend| %>
                              <% translated_news_array << trend[0] %>
                                <tr>
                                  <td>
                                    <button class="select-trend btn btn-sm mb-0 px-3 py-2 w-full rounded-4 border" data-trend="<%= trend[0] %>">Select</button>
                                  </td>
                                  <td>
                                    <div class="d-flex px-2 py-1">
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm"><%= truncate(trend[0], length: 20) %></h6>
                                      </div>
                                    </div>
                                  </td>
                                  <%# <td>
                                    <div class="avatar-group mt-2">
                                      <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson">
                                        <img src="../assets/img/team-1.jpg" alt="team1">
                                      </a>
                                      <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid">
                                        <img src="../assets/img/team-2.jpg" alt="team2">
                                      </a>
                                      <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith">
                                        <img src="../assets/img/team-3.jpg" alt="team3">
                                      </a>
                                      <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe">
                                        <img src="../assets/img/team-4.jpg" alt="team4">
                                      </a>
                                    </div>
                                  </td> %>
                                  <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold"><%= trend[1] %> tweets</span>
                                  </td>
                                  <td class="align-middle">
                                    <div class="progress-wrapper w-75 mx-auto">
                                      <div class="progress-info">
                                        <div class="progress-percentage">
                                          <span class="text-xs font-weight-bold">+20%</span>
                                        </div>
                                      </div>
                                      <div class="progress">
                                        <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <%= simple_form_for GeneratePost.new, data: { controller: 'generate' } do |form| %>
                  <div class="col-md-12 mb-lg-0 mb-4">
                    <div class="mt-4">
                      <div class="pb-0 p-3 mb-4">
                        <div class="row">
                          <div>
                            <%= content_tag :h6, "Company information" %>
                            <%= form.text_field :company_website_url, class: "form-control", id: "no-shadow-form", placeholder: "We 10x brand awareness for SMEs and solopreneurs with viral content thanks to newsjacking and AI...", required: true %>
                          </div>
                          <%= form.hidden_field :trend, id: 'selected-trend-field' %> <!-- Hidden field to store selected trend -->
                        </div>
                      </div>
                      <div class="pb-0 p-3 mb-4">
                        <div class="row">
                          <div>
                          <%= content_tag :h6, "Writing style" %>
                          <%= form.text_field :company_website_url, class: "form-control", id: "no-shadow-form", placeholder: "Copy-paste text from your past content across different social media channels like LinkedIn, Twitter...", required: true %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 text-end">
                        <%= form.button :button, type: "submit", class: "text-white bg-primary px-3 py-2 w-full rounded-4 border border-warning", data: { action: "click->generate#reset" } do %>
                          Generate 🪄
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="card h-100">
              <div class="p-3 mb-4 pb-0">
                <h6>Preview</h6>
              </div>
              <div class="card-body p-3">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border mb-3" id="loading-bar" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                <div id="results">
                  <turbo-stream action="update" target="results">
                    <template>
                      <turbo-frame id="results">
                      </turbo-frame>
                    </template>
                  </turbo-stream>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </turbo-frame>
  </main>
</body>
