<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "NewsJack" %></title>
  <meta name="description" content="<%= yield(:meta_description) || "Ride the Wave of What's Hot: Elevate Your Brand's Awareness with Strategic Newsjacking" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path('favicon3.png') %>" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TJNXQJ1BNV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TJNXQJ1BNV');
</script>
<body>
  <%= yield %>
</body>
</html>
