<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Raise brand awareness with virality - NewsJack" %></title>
    <meta name="description" content="<%= yield(:meta_description) || "Elevate brand awareness with newsjacking" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="icon" type="image/svg+xml" href="<%= asset_path('favicon.svg') %>">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
